# Classifying Gestures of Sign Language - Demo.

In [232]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
# import seaborn as sns
import matplotlib.pyplot as plt

# from subprocess import check_output

# Loading the Dataset

In [233]:
df = pd.read_csv('2022-03-18 17-07-41 training data.csv',header = None)

In [234]:
# add column names. No need if the origin files have.
fin_info = [i for i in range(df.shape[1]-2)]
df.columns = ["Timestamp","Letter"]+fin_info

In [235]:
df_ori = df.copy()

df_aug=df.copy()
df_ori

,Timestamp,Letter,0,1,2,3,4,5,6,7,...,224,225,226,227,228,229,230,231,232,233
0,2022-03-18 17:07:43.109000,other,0.0,0.0,0.0,-1.05,-2.007,-1.155,-1.05,-2.007,...,-0.706,5.329,-14.291,-1.343,5.469,-14.089,-0.268,0.0,0.0,0.0
1,2022-03-18 17:07:44.099000,other,0.0,0.0,0.0,-1.05,-2.007,-1.155,-1.05,-2.007,...,-0.748,5.178,-14.328,-1.378,5.328,-14.143,-0.302,0.0,0.0,0.0
2,2022-03-18 17:07:45.097000,A,0.0,0.0,0.0,-1.05,-2.007,-1.155,-1.05,-2.007,...,-2.857,2.252,-6.560,-2.881,1.664,-6.013,-3.636,0.0,0.0,0.0
3,2022-03-18 17:07:46.103000,A,0.0,0.0,0.0,-1.05,-2.007,-1.155,-1.05,-2.007,...,-2.790,2.160,-6.526,-2.832,1.544,-5.991,-3.573,0.0,0.0,0.0
4,2022-03-18 17:07:47.105000,A,0.0,0.0,0.0,-1.05,-2.007,-1.155,-1.05,-2.007,...,-2.782,2.146,-6.552,-2.816,1.526,-6.031,-3.564,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,2022-03-18 17:09:24.102000,other,0.0,0.0,0.0,-1.05,-2.007,-1.155,-1.05,-2.007,...,-3.441,2.044,-6.728,-3.176,1.532,-6.574,-4.140,0.0,0.0,0.0
95,2022-03-18 17:09:25.097000,other,0.0,0.0,0.0,-1.05,-2.007,-1.155,-1.05,-2.007,...,-6.224,2.898,-12.357,-6.297,3.175,-13.032,-5.471,0.0,0.0,0.0
96,2022-03-18 17:09:26.110000,other,0.0,0.0,0.0,-1.05,-2.007,-1.155,-1.05,-2.007,...,-3.773,4.740,-13.887,-4.245,4.959,-13.989,-3.169,0.0,0.0,0.0
97,2022-03-18 17:09:27.107000,other,0.0,0.0,0.0,-1.05,-2.007,-1.155,-1.05,-2.007,...,-7.554,2.552,-10.604,-7.313,2.873,-11.543,-6.833,0.0,0.0,0.0
98,2022-03-18 17:09:28.104000,other,0.0,0.0,0.0,-1.05,-2.007,-1.155,-1.05,-2.007,...,-5.862,2.736,-9.300,-5.161,2.842,-10.173,-5.826,0.0,0.0,0.0

In [236]:
df["Letter"].value_counts()

other    89
C         4
A         3
B         3
Name: Letter, dtype: int64

In [237]:
df.head()

,Timestamp,Letter,0,1,2,3,4,5,6,7,...,224,225,226,227,228,229,230,231,232,233
0,2022-03-18 17:07:43.109000,other,0.0,0.0,0.0,-1.05,-2.007,-1.155,-1.05,-2.007,...,-0.706,5.329,-14.291,-1.343,5.469,-14.089,-0.268,0.0,0.0,0.0
1,2022-03-18 17:07:44.099000,other,0.0,0.0,0.0,-1.05,-2.007,-1.155,-1.05,-2.007,...,-0.748,5.178,-14.328,-1.378,5.328,-14.143,-0.302,0.0,0.0,0.0
2,2022-03-18 17:07:45.097000,A,0.0,0.0,0.0,-1.05,-2.007,-1.155,-1.05,-2.007,...,-2.857,2.252,-6.560,-2.881,1.664,-6.013,-3.636,0.0,0.0,0.0
3,2022-03-18 17:07:46.103000,A,0.0,0.0,0.0,-1.05,-2.007,-1.155,-1.05,-2.007,...,-2.790,2.160,-6.526,-2.832,1.544,-5.991,-3.573,0.0,0.0,0.0
4,2022-03-18 17:07:47.105000,A,0.0,0.0,0.0,-1.05,-2.007,-1.155,-1.05,-2.007,...,-2.782,2.146,-6.552,-2.816,1.526,-6.031,-3.564,0.0,0.0,0.0

In [238]:
df.tail()

,Timestamp,Letter,0,1,2,3,4,5,6,7,...,224,225,226,227,228,229,230,231,232,233
94,2022-03-18 17:09:24.102000,other,0.0,0.0,0.0,-1.05,-2.007,-1.155,-1.05,-2.007,...,-3.441,2.044,-6.728,-3.176,1.532,-6.574,-4.140,0.0,0.0,0.0
95,2022-03-18 17:09:25.097000,other,0.0,0.0,0.0,-1.05,-2.007,-1.155,-1.05,-2.007,...,-6.224,2.898,-12.357,-6.297,3.175,-13.032,-5.471,0.0,0.0,0.0
96,2022-03-18 17:09:26.110000,other,0.0,0.0,0.0,-1.05,-2.007,-1.155,-1.05,-2.007,...,-3.773,4.740,-13.887,-4.245,4.959,-13.989,-3.169,0.0,0.0,0.0
97,2022-03-18 17:09:27.107000,other,0.0,0.0,0.0,-1.05,-2.007,-1.155,-1.05,-2.007,...,-7.554,2.552,-10.604,-7.313,2.873,-11.543,-6.833,0.0,0.0,0.0
98,2022-03-18 17:09:28.104000,other,0.0,0.0,0.0,-1.05,-2.007,-1.155,-1.05,-2.007,...,-5.862,2.736,-9.300,-5.161,2.842,-10.173,-5.826,0.0,0.0,0.0

In [239]:
df.sample(5)

,Timestamp,Letter,0,1,2,3,4,5,6,7,...,224,225,226,227,228,229,230,231,232,233
25,2022-03-18 17:08:08.109000,other,0.0,0.0,0.0,-1.05,-2.007,-1.155,-1.05,-2.007,...,-3.695,1.915,-6.571,-3.473,1.381,-6.372,-4.416,0.0,0.0,0.0
86,2022-03-18 17:09:16.105000,other,0.0,0.0,0.0,-1.05,-2.007,-1.155,-1.05,-2.007,...,-5.459,4.883,-11.025,-5.020,5.577,-11.864,-4.851,0.0,0.0,0.0
74,2022-03-18 17:09:01.098000,other,0.0,0.0,0.0,-1.05,-2.007,-1.155,-1.05,-2.007,...,-4.049,1.589,-5.653,-3.781,1.109,-5.473,-4.756,0.0,0.0,0.0
59,2022-03-18 17:08:45.097000,other,0.0,0.0,0.0,-1.05,-2.007,-1.155,-1.05,-2.007,...,-3.283,5.133,-13.947,-3.735,5.369,-14.071,-2.666,0.0,0.0,0.0
43,2022-03-18 17:08:28.103000,other,0.0,0.0,0.0,-1.05,-2.007,-1.155,-1.05,-2.007,...,-1.467,4.149,-14.506,-2.070,4.348,-14.394,-0.991,0.0,0.0,0.0

In [240]:
df.dtypes

Timestamp     object
Letter        object
0            float64
1            float64
2            float64
              ...
229          float64
230          float64
231          float64
232          float64
233          float64
Length: 236, dtype: object

In [241]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Columns: 236 entries, Timestamp to 233
dtypes: float64(234), object(2)
memory usage: 182.7+ KB

In [242]:
df.describe()

,0,1,2,3,4,5,6,7,8,9,...,224,225,226,227,228,229,230,231,232,233
count,99.0,99.0,99.0,9.900000e+01,9.900000e+01,9.900000e+01,9.900000e+01,9.900000e+01,9.900000e+01,99.000000,...,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.0,99.0,99.0
mean,0.0,0.0,0.0,-1.050000e+00,-2.007000e+00,-1.155000e+00,-1.050000e+00,-2.007000e+00,-1.155000e+00,-2.312727,...,-3.402364,3.403263,-10.728283,-3.490172,3.359646,-10.820030,-3.328475,0.0,0.0,0.0
std,0.0,0.0,0.0,1.785397e-15,2.678095e-15,8.926984e-16,1.785397e-15,2.678095e-15,8.926984e-16,0.475854,...,1.813370,1.402368,3.528015,1.469328,1.699487,3.617423,1.931103,0.0,0.0,0.0
min,0.0,0.0,0.0,-1.050000e+00,-2.007000e+00,-1.155000e+00,-1.050000e+00,-2.007000e+00,-1.155000e+00,-3.124000,...,-7.554000,1.400000,-14.553000,-7.313000,0.916000,-14.411000,-6.833000,0.0,0.0,0.0
25%,0.0,0.0,0.0,-1.050000e+00,-2.007000e+00,-1.155000e+00,-1.050000e+00,-2.007000e+00,-1.155000e+00,-2.763500,...,-4.267500,2.079000,-14.295000,-4.175500,1.564500,-14.215500,-4.667000,0.0,0.0,0.0
50%,0.0,0.0,0.0,-1.050000e+00,-2.007000e+00,-1.155000e+00,-1.050000e+00,-2.007000e+00,-1.155000e+00,-2.211000,...,-3.283000,2.945000,-11.353000,-3.165000,3.314000,-12.271000,-3.678000,0.0,0.0,0.0
75%,0.0,0.0,0.0,-1.050000e+00,-2.007000e+00,-1.155000e+00,-1.050000e+00,-2.007000e+00,-1.155000e+00,-2.010500,...,-1.963000,4.607500,-6.801000,-2.512000,4.887000,-6.580000,-1.445500,0.0,0.0,0.0
max,0.0,0.0,0.0,-1.050000e+00,-2.007000e+00,-1.155000e+00,-1.050000e+00,-2.007000e+00,-1.155000e+00,-0.894000,...,-0.545000,6.066000,-5.225000,-1.206000,6.210000,-4.945000,-0.144000,0.0,0.0,0.0

# Data Augmentation

In [243]:
# # Randomly augment data. No need if we have enough data.
# # fit for the first version dataset 
# # may need some changes if we update the dataset
# aug = 1000
# col=df.columns
# df_aug=df.copy()

# for i in range(aug):
#     new_row = [np.concatenate((df_ori.sample(1).values[0,0:2],df_ori.sample(1).values[0,2:] + np.random.normal(0,5)),axis = 0)]
#     df_gen = pd.DataFrame(new_row,columns = col)
#     df_aug = pd.concat([df_aug,df_gen],ignore_index = True)
# # Add more data whose letter is "A", to balance dataset
# for i in range(600):
#     new_row = [np.concatenate((df_ori.loc[0,:].values[0:2],df_ori.loc[0,:].values[2:] + np.random.normal(0,5)),axis = 0)]
#     df_gen = pd.DataFrame(new_row,columns = col)
#     df_aug = pd.concat([df_aug,df_gen],ignore_index = True)
    
# # Add more data whose letter is "other", to balance dataset 
# for i in range(600):
#     new_row = [np.concatenate((df_ori.loc[1,:].values[0:2],df_ori.loc[1,:].values[2:] + np.random.normal(0,5)),axis = 0)]
#     df_gen = pd.DataFrame(new_row,columns = col)
#     df_aug = pd.concat([df_aug,df_gen],ignore_index = True)

In [244]:
df_aug["Letter"].value_counts()

other    89
C         4
A         3
B         3
Name: Letter, dtype: int64

In [245]:
df_aug.drop('Timestamp',axis=1,inplace=True) #dropping the Id column as it is unecessary, axis=1 specifies that it should be column wise, inplace =1 means the changes should be reflected into the dataframe

In [246]:
df_aug.head()

,Letter,0,1,2,3,4,5,6,7,8,...,224,225,226,227,228,229,230,231,232,233
0,other,0.0,0.0,0.0,-1.05,-2.007,-1.155,-1.05,-2.007,-1.155,...,-0.706,5.329,-14.291,-1.343,5.469,-14.089,-0.268,0.0,0.0,0.0
1,other,0.0,0.0,0.0,-1.05,-2.007,-1.155,-1.05,-2.007,-1.155,...,-0.748,5.178,-14.328,-1.378,5.328,-14.143,-0.302,0.0,0.0,0.0
2,A,0.0,0.0,0.0,-1.05,-2.007,-1.155,-1.05,-2.007,-1.155,...,-2.857,2.252,-6.560,-2.881,1.664,-6.013,-3.636,0.0,0.0,0.0
3,A,0.0,0.0,0.0,-1.05,-2.007,-1.155,-1.05,-2.007,-1.155,...,-2.790,2.160,-6.526,-2.832,1.544,-5.991,-3.573,0.0,0.0,0.0
4,A,0.0,0.0,0.0,-1.05,-2.007,-1.155,-1.05,-2.007,-1.155,...,-2.782,2.146,-6.552,-2.816,1.526,-6.031,-3.564,0.0,0.0,0.0

# Split Training Data and Test Data

In [247]:
# importing all the necessary packages to use the various classification algorithms
from sklearn.linear_model import LogisticRegression  # for Logistic Regression algorithm
from sklearn.model_selection import train_test_split #to split the dataset for training and testing
from sklearn.neighbors import KNeighborsClassifier  # for K nearest neighbours
from sklearn import svm  #for Support Vector Machine (SVM) Algorithm
from sklearn import metrics #for checking the model accuracy
from sklearn.tree import DecisionTreeClassifier #for using Decision Tree Algoithm
from sklearn.metrics import classification_report
from sklearn.cluster import KMeans
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.neural_network import MLPClassifier
# from sklearn.metrics import classification_report, confusion_matrix

In [248]:
train, test = train_test_split(df_aug, test_size = 0.3,random_state=0)# in this our main data is split into train and test
# the attribute test_size=0.3 splits the data into 70% and 30% ratio. train=70% and test=30%
print(train.shape)
print(test.shape)

(69, 235)
(30, 235)

In [249]:
train_X = train[fin_info]# taking the training data features
train_y=train.Letter# output of our training data
test_X= test[fin_info] # taking test data features
test_y =test.Letter   #output value of test data

In [250]:
train_X = train_X.values
test_X = test_X.values

In [251]:
# #use scaler
# from sklearn import preprocessing
# mm_scaler = preprocessing.RobustScaler()
# mm_scaler = preprocessing.MinMaxScaler()
# train_X = mm_scaler.fit_transform(train_X)
# test_X = mm_scaler.transform(test_X)

In [252]:
train_X

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [253]:
train_y.head()

60    other
80    other
89    other
68    other
51    other
Name: Letter, dtype: object

In [254]:
test_X

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [255]:
test_y.head()

26    other
86    other
2         A
55    other
75    other
Name: Letter, dtype: object

# Machine Learning Model

In [256]:
# Train the model, return the best model based on the test data
def train(train_X,train_y,test_X,test_y):
    lr = LogisticRegression(max_iter = 1000)
    lr.fit(train_X,train_y)
    lr_pre=lr.predict(test_X)
    lr_acc = metrics.accuracy_score(lr_pre,test_y)
    print('The accuracy of the Logistic Regression is',lr_acc)
    dt=DecisionTreeClassifier()
    dt.fit(train_X,train_y)
    dt_pre=dt.predict(test_X)
    dt_acc = metrics.accuracy_score(dt_pre,test_y)
    print('The accuracy of the Decision Tree is',dt_acc)
    rf = RandomForestClassifier(n_estimators=1000, criterion='entropy', random_state=None, bootstrap=True)
    rf.fit(train_X,train_y)
    rf_pre=rf.predict(test_X)
    rf_acc = metrics.accuracy_score(rf_pre,test_y)
    print('The accuracy of the Random Forest is',rf_acc)    
    knn=KNeighborsClassifier(n_neighbors=3) #this examines 3 neighbours for putting the new data into a class
    knn.fit(train_X,train_y)
    knn_pre=knn.predict(test_X)
    knn_acc = metrics.accuracy_score(knn_pre,test_y)
    print('The accuracy of the KNN is',knn_acc)    
    svm=SVC(probability=True)
    svm.fit(train_X, train_y)
    svm_pre=svm.predict(test_X)
    svm_acc = metrics.accuracy_score(svm_pre,test_y)
    print('The accuracy of the SVM is',svm_acc)
    mlp=MLPClassifier(hidden_layer_sizes=(128,64,32),random_state = 1)
    mlp.fit(train_X,train_y)
    mlp_pre=mlp.predict(test_X)
    mlp_acc = metrics.accuracy_score(mlp_pre,test_y)
    print('The accuracy of the MLP is',mlp_acc)
    dir = {lr:lr_acc,dt:dt_acc,rf:rf_acc,knn:knn_acc,svm:svm_acc,mlp:mlp_acc}
    best = 0
    model = None
    for i in dir.keys():
        if dir[i]>best:
            best = dir[i]
            model = i
    return model

In [257]:
# train the model
model = train(train_X,train_y,test_X,test_y)

The accuracy of the Logistic Regression is 0.9666666666666667
The accuracy of the Decision Tree is 0.9666666666666667
The accuracy of the Random Forest is 0.9666666666666667
The accuracy of the KNN is 0.9
The accuracy of the SVM is 0.8666666666666667
The accuracy of the MLP is 0.9666666666666667

In [265]:
# since we don't have too much data,I choose to use all data for training
training_data = df[fin_info]
training_data =training_data.values

training_label =df.Letter
training_label=training_label.values
# specific mlp to train
def mlp(training_data,training_label):
    mlp=MLPClassifier(hidden_layer_sizes=(128,64,32),random_state = 1)
    mlp.fit(training_data,training_label)
    return mlp

model = mlp(training_data,training_label)

In [266]:
def pred(model, X):
    prediction=model.predict_proba(X.reshape(1, -1))
    cl = model.classes_
    pro = prediction[0]
    head=""
    internal = ""
    for i in range(len(cl)):
        if i == 0:
            head = "{}:{}".format(cl[i],pro[i])
        else:
            internal = internal + (" ;{}:{}".format(cl[i],pro[i]))
        
    return "Probabilities: {" +head+internal+"}."

In [270]:
X = test_X[1]
pred(model, X)

'Probabilities: {A:5.7085105623602214e-08 ;B:0.0001567647806259512 ;C:0.0005193574488723637 ;other:0.9993238206853962}.'

In [ ]:

# # Logistic Regression
# def LR(train_X,train_y,test_X,test_y,X = test_X[0]):
#     model = LogisticRegression(max_iter = 1000)
#     model.fit(train_X,train_y)
#     prediction=model.predict(test_X)

#     print('The accuracy of the Logistic Regression is',metrics.accuracy_score(prediction,test_y))

# #     print(sklearn.metrics.confusion_matrix(test_y,prediction))

# #     print(classification_report(test_y, prediction))

#     pro=model.predict_proba(X.reshape(1, -1))

#     return pro[0]

# # Decision Tree Classifier
# def DT(train_X,train_y,test_X,test_y,X = test_X[0]):
#     model=DecisionTreeClassifier()
#     model.fit(train_X,train_y)
#     prediction=model.predict(test_X)
#     print('The accuracy of the Decision Tree is',metrics.accuracy_score(prediction,test_y))
# #     print(sklearn.metrics.confusion_matrix(test_y,prediction))
# #     print(classification_report(test_y, prediction))
#     pro=model.predict_proba(X.reshape(1, -1))
#     return pro[0]

# # Random Forest Classifer
# def RF(train_X,train_y,test_X,test_y,X = test_X[0]):
#     model = RandomForestClassifier(n_estimators=1000, criterion='entropy', random_state=None, bootstrap=True)
#     model.fit(train_X,train_y)
#     prediction=model.predict(test_X)
#     print('The accuracy of the Random Forest is',metrics.accuracy_score(prediction,test_y))
# #     print(sklearn.metrics.confusion_matrix(test_y,prediction))
# #     print(classification_report(test_y, prediction))
#     pro=model.predict_proba(X.reshape(1, -1))
#     return pro[0]

# # K-Nearest Neighbor
# def KNN(train_X,train_y,test_X,test_y,X = test_X[0]):
#     model=KNeighborsClassifier(n_neighbors=3) #this examines 3 neighbours for putting the new data into a class
#     model.fit(train_X,train_y)
#     prediction=model.predict(test_X)
#     print('The accuracy of the KNN is',metrics.accuracy_score(prediction,test_y))
# #     print(sklearn.metrics.confusion_matrix(test_y,prediction))
# #     print(classification_report(test_y, prediction))

#     pro=model.predict_proba(X.reshape(1, -1))
#     return pro[0]

# # Support Vector Machine
# def SVM(train_X,train_y,test_X,test_y,X = test_X[0]):

#     model=SVC(probability=True)
#     model.fit(train_X, train_y)
#     prediction=model.predict(test_X)
#     print('The accuracy of the SVM is',metrics.accuracy_score(prediction,test_y))
# #     print(confusion_matrix(test_y,prediction))

# #     print(classification_report(test_y, prediction))

#     pro=model.predict_proba(X.reshape(1, -1))
#     return pro[0]

# # Multilayer Perceptron
# def MLP(train_X,train_y,test_X,test_y,X = test_X[0]):
#     model=MLPClassifier(hidden_layer_sizes=(128,64,32),random_state = 1)
#     model.fit(train_X,train_y)
#     prediction=model.predict(test_X)
#     print('The accuracy of the MLP is',metrics.accuracy_score(prediction,test_y))
# #     print(sklearn.metrics.confusion_matrix(test_y,prediction))
# #     print(classification_report(test_y, prediction))
#     pro=model.predict_proba(X.reshape(1, -1))
#     return pro[0]