# Classifying Gestures of Sign Language - Demo.

In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
# import seaborn as sns
import matplotlib.pyplot as plt

# from subprocess import check_output

# Loading the Dataset

In [2]:
df = pd.read_csv('2022-03-18 17-07-41 training data.csv',header = None)

In [3]:
# add column names. No need if the origin files have.
fin_info = [i for i in range(df.shape[1]-2)]
df.columns = ["Timestamp","Letter"]+fin_info

In [4]:
df_ori = df.copy()

df_aug=df.copy()
df_ori

,Timestamp,Letter,0,1,2,3,4,5,6,7,...,224,225,226,227,228,229,230,231,232,233
0,2022-03-18 17:07:43.109000,other,0.0,0.0,0.0,-1.05,-2.007,-1.155,-1.05,-2.007,...,-0.706,5.329,-14.291,-1.343,5.469,-14.089,-0.268,0.0,0.0,0.0
1,2022-03-18 17:07:44.099000,other,0.0,0.0,0.0,-1.05,-2.007,-1.155,-1.05,-2.007,...,-0.748,5.178,-14.328,-1.378,5.328,-14.143,-0.302,0.0,0.0,0.0
2,2022-03-18 17:07:45.097000,A,0.0,0.0,0.0,-1.05,-2.007,-1.155,-1.05,-2.007,...,-2.857,2.252,-6.560,-2.881,1.664,-6.013,-3.636,0.0,0.0,0.0
3,2022-03-18 17:07:46.103000,A,0.0,0.0,0.0,-1.05,-2.007,-1.155,-1.05,-2.007,...,-2.790,2.160,-6.526,-2.832,1.544,-5.991,-3.573,0.0,0.0,0.0
4,2022-03-18 17:07:47.105000,A,0.0,0.0,0.0,-1.05,-2.007,-1.155,-1.05,-2.007,...,-2.782,2.146,-6.552,-2.816,1.526,-6.031,-3.564,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,2022-03-18 17:09:24.102000,other,0.0,0.0,0.0,-1.05,-2.007,-1.155,-1.05,-2.007,...,-3.441,2.044,-6.728,-3.176,1.532,-6.574,-4.140,0.0,0.0,0.0
95,2022-03-18 17:09:25.097000,other,0.0,0.0,0.0,-1.05,-2.007,-1.155,-1.05,-2.007,...,-6.224,2.898,-12.357,-6.297,3.175,-13.032,-5.471,0.0,0.0,0.0
96,2022-03-18 17:09:26.110000,other,0.0,0.0,0.0,-1.05,-2.007,-1.155,-1.05,-2.007,...,-3.773,4.740,-13.887,-4.245,4.959,-13.989,-3.169,0.0,0.0,0.0
97,2022-03-18 17:09:27.107000,other,0.0,0.0,0.0,-1.05,-2.007,-1.155,-1.05,-2.007,...,-7.554,2.552,-10.604,-7.313,2.873,-11.543,-6.833,0.0,0.0,0.0
98,2022-03-18 17:09:28.104000,other,0.0,0.0,0.0,-1.05,-2.007,-1.155,-1.05,-2.007,...,-5.862,2.736,-9.300,-5.161,2.842,-10.173,-5.826,0.0,0.0,0.0

In [5]:
df["Letter"].value_counts()

other    89
C         4
A         3
B         3
Name: Letter, dtype: int64

In [6]:
df.head()

,Timestamp,Letter,0,1,2,3,4,5,6,7,...,224,225,226,227,228,229,230,231,232,233
0,2022-03-18 17:07:43.109000,other,0.0,0.0,0.0,-1.05,-2.007,-1.155,-1.05,-2.007,...,-0.706,5.329,-14.291,-1.343,5.469,-14.089,-0.268,0.0,0.0,0.0
1,2022-03-18 17:07:44.099000,other,0.0,0.0,0.0,-1.05,-2.007,-1.155,-1.05,-2.007,...,-0.748,5.178,-14.328,-1.378,5.328,-14.143,-0.302,0.0,0.0,0.0
2,2022-03-18 17:07:45.097000,A,0.0,0.0,0.0,-1.05,-2.007,-1.155,-1.05,-2.007,...,-2.857,2.252,-6.560,-2.881,1.664,-6.013,-3.636,0.0,0.0,0.0
3,2022-03-18 17:07:46.103000,A,0.0,0.0,0.0,-1.05,-2.007,-1.155,-1.05,-2.007,...,-2.790,2.160,-6.526,-2.832,1.544,-5.991,-3.573,0.0,0.0,0.0
4,2022-03-18 17:07:47.105000,A,0.0,0.0,0.0,-1.05,-2.007,-1.155,-1.05,-2.007,...,-2.782,2.146,-6.552,-2.816,1.526,-6.031,-3.564,0.0,0.0,0.0

In [7]:
df.tail()

,Timestamp,Letter,0,1,2,3,4,5,6,7,...,224,225,226,227,228,229,230,231,232,233
94,2022-03-18 17:09:24.102000,other,0.0,0.0,0.0,-1.05,-2.007,-1.155,-1.05,-2.007,...,-3.441,2.044,-6.728,-3.176,1.532,-6.574,-4.140,0.0,0.0,0.0
95,2022-03-18 17:09:25.097000,other,0.0,0.0,0.0,-1.05,-2.007,-1.155,-1.05,-2.007,...,-6.224,2.898,-12.357,-6.297,3.175,-13.032,-5.471,0.0,0.0,0.0
96,2022-03-18 17:09:26.110000,other,0.0,0.0,0.0,-1.05,-2.007,-1.155,-1.05,-2.007,...,-3.773,4.740,-13.887,-4.245,4.959,-13.989,-3.169,0.0,0.0,0.0
97,2022-03-18 17:09:27.107000,other,0.0,0.0,0.0,-1.05,-2.007,-1.155,-1.05,-2.007,...,-7.554,2.552,-10.604,-7.313,2.873,-11.543,-6.833,0.0,0.0,0.0
98,2022-03-18 17:09:28.104000,other,0.0,0.0,0.0,-1.05,-2.007,-1.155,-1.05,-2.007,...,-5.862,2.736,-9.300,-5.161,2.842,-10.173,-5.826,0.0,0.0,0.0

In [8]:
df.sample(5)

,Timestamp,Letter,0,1,2,3,4,5,6,7,...,224,225,226,227,228,229,230,231,232,233
5,2022-03-18 17:07:48.103000,other,0.0,0.0,0.0,-1.05,-2.007,-1.155,-1.05,-2.007,...,-2.935,4.838,-14.012,-3.325,5.104,-14.244,-2.281,0.0,0.0,0.0
48,2022-03-18 17:08:33.099000,other,0.0,0.0,0.0,-1.05,-2.007,-1.155,-1.05,-2.007,...,-2.073,5.151,-14.091,-2.530,5.395,-14.215,-1.462,0.0,0.0,0.0
9,2022-03-18 17:07:52.102000,B,0.0,0.0,0.0,-1.05,-2.007,-1.155,-1.05,-2.007,...,-2.336,5.017,-14.275,-2.911,5.191,-14.196,-1.825,0.0,0.0,0.0
90,2022-03-18 17:09:20.102000,other,0.0,0.0,0.0,-1.05,-2.007,-1.155,-1.05,-2.007,...,-5.464,1.918,-7.703,-4.795,1.843,-8.329,-5.699,0.0,0.0,0.0
23,2022-03-18 17:08:06.106000,other,0.0,0.0,0.0,-1.05,-2.007,-1.155,-1.05,-2.007,...,-5.407,2.338,-8.532,-4.731,2.247,-9.244,-5.568,0.0,0.0,0.0

In [9]:
df.dtypes

Timestamp     object
Letter        object
0            float64
1            float64
2            float64
              ...
229          float64
230          float64
231          float64
232          float64
233          float64
Length: 236, dtype: object

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Columns: 236 entries, Timestamp to 233
dtypes: float64(234), object(2)
memory usage: 182.7+ KB

In [11]:
df.describe()

,0,1,2,3,4,5,6,7,8,9,...,224,225,226,227,228,229,230,231,232,233
count,99.0,99.0,99.0,9.900000e+01,9.900000e+01,9.900000e+01,9.900000e+01,9.900000e+01,9.900000e+01,99.000000,...,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.0,99.0,99.0
mean,0.0,0.0,0.0,-1.050000e+00,-2.007000e+00,-1.155000e+00,-1.050000e+00,-2.007000e+00,-1.155000e+00,-2.312727,...,-3.402364,3.403263,-10.728283,-3.490172,3.359646,-10.820030,-3.328475,0.0,0.0,0.0
std,0.0,0.0,0.0,1.785397e-15,2.678095e-15,8.926984e-16,1.785397e-15,2.678095e-15,8.926984e-16,0.475854,...,1.813370,1.402368,3.528015,1.469328,1.699487,3.617423,1.931103,0.0,0.0,0.0
min,0.0,0.0,0.0,-1.050000e+00,-2.007000e+00,-1.155000e+00,-1.050000e+00,-2.007000e+00,-1.155000e+00,-3.124000,...,-7.554000,1.400000,-14.553000,-7.313000,0.916000,-14.411000,-6.833000,0.0,0.0,0.0
25%,0.0,0.0,0.0,-1.050000e+00,-2.007000e+00,-1.155000e+00,-1.050000e+00,-2.007000e+00,-1.155000e+00,-2.763500,...,-4.267500,2.079000,-14.295000,-4.175500,1.564500,-14.215500,-4.667000,0.0,0.0,0.0
50%,0.0,0.0,0.0,-1.050000e+00,-2.007000e+00,-1.155000e+00,-1.050000e+00,-2.007000e+00,-1.155000e+00,-2.211000,...,-3.283000,2.945000,-11.353000,-3.165000,3.314000,-12.271000,-3.678000,0.0,0.0,0.0
75%,0.0,0.0,0.0,-1.050000e+00,-2.007000e+00,-1.155000e+00,-1.050000e+00,-2.007000e+00,-1.155000e+00,-2.010500,...,-1.963000,4.607500,-6.801000,-2.512000,4.887000,-6.580000,-1.445500,0.0,0.0,0.0
max,0.0,0.0,0.0,-1.050000e+00,-2.007000e+00,-1.155000e+00,-1.050000e+00,-2.007000e+00,-1.155000e+00,-0.894000,...,-0.545000,6.066000,-5.225000,-1.206000,6.210000,-4.945000,-0.144000,0.0,0.0,0.0

In [12]:
df_ori.sample(1).values[0,2:]

array([0.0, 0.0, 0.0, -1.05, -2.007, -1.155, -1.05, -2.007, -1.155,
       -2.304, -3.786, -2.355, -3.18, -6.201, -4.347, -3.18, -6.201,
       -4.347, -2.364, -9.047, -5.976, -2.364, -9.047, -5.976, -1.718,
       -10.15, -6.735, -1.398, -10.939, -7.223, -0.939, -9.839, -6.265,
       -2.208, -10.301, -6.999, 0.348, -3.574, -3.308, -3.219, -2.762,
       -1.677, -2.803, -3.596, -1.916, -2.355, -9.6, -0.732, -2.355, -9.6,
       -0.732, -2.355, -9.6, -0.732, -1.068, -12.474, -2.845, -1.068,
       -12.474, -2.845, -1.206, -11.793, -5.174, -1.206, -11.793, -5.174,
       -1.356, -11.167, -6.137, -1.429, -10.649, -7.086, -1.618, -10.543,
       -6.129, -1.137, -11.407, -6.786, -0.173, -9.565, -0.254, -0.173,
       -9.565, -0.254, -0.173, -9.565, -0.254, 0.995, -13.668, -0.73,
       0.995, -13.668, -0.73, 1.706, -16.149, -1.694, 1.706, -16.149,
       -1.694, 2.054, -17.289, -1.957, 2.464, -18.491, -2.125, 2.117,
       -17.681, -2.686, 2.306, -17.849, -1.422, 0.176, -9.663, 0.831,
       1.747, -8.869, -0.653, 1.747, -8.869, -0.653, 1.747, -8.869,
       -0.653, 2.93, -12.58, -0.846, 2.93, -12.58, -0.846, 3.682, -15.08,
       -1.344, 3.682, -15.08, -1.344, 3.966, -16.229, -1.502, 4.317,
       -17.427, -1.513, 4.028, -16.767, -2.154, 4.162, -16.698, -0.913,
       3.505, -7.79, -1.369, 3.505, -7.79, -1.369, -2.425, -10.016,
       -2.384, -0.062, -9.873, -2.065, 1.882, -9.011, -2.344, 3.803,
       -7.671, -2.713, -2.193, -9.612, 0.522, 2.064, -8.773, 0.343, 3.735,
       -7.58, -0.413, -0.424, -8.176, -2.054, -2.514, -3.113, 0.263,
       -0.086, -3.226, 1.39, 0.987, -3.179, 1.272, 1.531, -3.089, 1.057,
       -1.211, -2.388, -3.35, -1.211, -2.388, -3.35, 1.04, -2.507, -2.955,
       1.862, -2.456, -2.868, 2.3, -3.407, -0.942, 3.505, -7.79, -1.369,
       4.421, -10.694, -1.774, 4.421, -10.694, -1.774, 5.186, -12.552,
       -2.069, 5.186, -12.552, -2.069, 5.515, -13.682, -2.254, 5.809,
       -14.646, -2.287, 5.581, -14.113, -2.848, 5.743, -14.053, -1.759,
       0.0, 0.0, 0.0], dtype=object)

In [13]:
df_ori.loc[df_ori['Letter']=="A",:].sample(1).values[0,2:]

array([0.0, 0.0, 0.0, -1.05, -2.007, -1.155, -1.05, -2.007, -1.155,
       -2.295, -3.789, -2.36, -3.374, -6.811, -2.883, -3.374, -6.811,
       -2.883, -3.503, -10.179, -3.126, -3.503, -10.179, -3.126, -3.412,
       -11.635, -3.408, -3.456, -12.607, -3.529, -2.47, -11.455, -3.339,
       -3.984, -11.699, -3.445, 0.107, -4.085, -3.819, -3.13, -2.548,
       -2.029, -2.803, -3.596, -1.916, -2.355, -9.6, -0.732, -2.355, -9.6,
       -0.732, -2.355, -9.6, -0.732, -2.005, -11.527, -3.979, -2.005,
       -11.527, -3.979, -2.159, -9.166, -4.534, -2.159, -9.166, -4.534,
       -2.267, -8.252, -3.831, -2.334, -7.337, -3.255, -2.323, -8.312,
       -3.16, -2.24, -7.571, -4.083, -0.173, -9.565, -0.254, -0.173,
       -9.565, -0.254, -0.173, -9.565, -0.254, 0.024, -11.05, -4.277,
       0.024, -11.05, -4.277, -0.455, -8.343, -4.46, -0.455, -8.343,
       -4.46, -0.719, -7.567, -3.557, -0.966, -6.664, -2.681, -0.827,
       -7.698, -2.745, -0.811, -6.76, -3.629, 0.285, -10.564, 0.064,
       1.747, -8.869, -0.653, 1.747, -8.869, -0.653, 1.747, -8.869,
       -0.653, 1.723, -10.215, -4.313, 1.723, -10.215, -4.313, 0.874,
       -7.709, -4.568, 0.874, -7.709, -4.568, 0.634, -7.01, -3.63, 0.365,
       -6.157, -2.758, 0.702, -7.061, -2.787, 0.334, -6.296, -3.705,
       3.505, -7.79, -1.369, 3.505, -7.79, -1.369, -2.425, -10.016,
       -2.384, -0.062, -9.873, -2.065, 1.882, -9.011, -2.344, 3.803,
       -7.671, -2.713, -2.193, -9.612, 0.522, 2.064, -8.773, 0.343, 3.735,
       -7.58, -0.413, -0.424, -8.176, -2.054, -2.514, -3.113, 0.263,
       -0.086, -3.226, 1.39, 0.987, -3.179, 1.272, 1.531, -3.089, 1.057,
       -1.211, -2.388, -3.35, -1.211, -2.388, -3.35, 1.04, -2.507, -2.955,
       1.862, -2.456, -2.868, 2.3, -3.407, -0.942, 3.505, -7.79, -1.369,
       3.002, -9.095, -4.104, 3.002, -9.095, -4.104, 2.189, -7.28, -4.517,
       2.189, -7.28, -4.517, 2.012, -6.569, -3.578, 1.788, -5.9, -2.857,
       2.252, -6.56, -2.881, 1.664, -6.013, -3.636, 0.0, 0.0, 0.0],
      dtype=object)

# Data Augmentation

In [14]:
# Randomly augment data. No need if we have enough data.
# fit for the first version dataset 
# may need some changes if we update the dataset
aug = 600
col=df.columns
df_aug=df.copy()

for i in range(aug):
    new_row = [np.concatenate((df_ori.sample(1).values[0,0:2],df_ori.sample(1).values[0,2:] + np.random.normal(0,5)),axis = 0)]
    df_gen = pd.DataFrame(new_row,columns = col)
    df_aug = pd.concat([df_aug,df_gen],ignore_index = True)
    
# Add more data whose letter is "A", to balance dataset
for i in range(600):
    new_row = [np.concatenate((df_ori.loc[df_ori['Letter']=="A",:].sample(1).values[0,0:2],df_ori.loc[df_ori['Letter']=="A",:].sample(1).values[0,2:] + np.random.normal(0,5)),axis = 0)]
    df_gen = pd.DataFrame(new_row,columns = col)
    df_aug = pd.concat([df_aug,df_gen],ignore_index = True)
    
# Add more data whose letter is "B", to balance dataset
for i in range(600):
    new_row = [np.concatenate((df_ori.loc[df_ori['Letter']=="B",:].sample(1).values[0,0:2],df_ori.loc[df_ori['Letter']=="B",:].sample(1).values[0,2:] + np.random.normal(0,5)),axis = 0)]
    df_gen = pd.DataFrame(new_row,columns = col)
    df_aug = pd.concat([df_aug,df_gen],ignore_index = True)
# Add more data whose letter is "C", to balance dataset
for i in range(600):
    new_row = [np.concatenate((df_ori.loc[df_ori['Letter']=="C",:].sample(1).values[0,0:2],df_ori.loc[df_ori['Letter']=="C",:].sample(1).values[0,2:] + np.random.normal(0,5)),axis = 0)]
    df_gen = pd.DataFrame(new_row,columns = col)
    df_aug = pd.concat([df_aug,df_gen],ignore_index = True)

In [15]:
df_aug["Letter"].value_counts()

other    629
B        628
C        627
A        615
Name: Letter, dtype: int64

In [16]:
df_aug.drop('Timestamp',axis=1,inplace=True) #dropping the Id column as it is unecessary, axis=1 specifies that it should be column wise, inplace =1 means the changes should be reflected into the dataframe

In [17]:
df_aug.head()

,Letter,0,1,2,3,4,5,6,7,8,...,224,225,226,227,228,229,230,231,232,233
0,other,0.0,0.0,0.0,-1.05,-2.007,-1.155,-1.05,-2.007,-1.155,...,-0.706,5.329,-14.291,-1.343,5.469,-14.089,-0.268,0.0,0.0,0.0
1,other,0.0,0.0,0.0,-1.05,-2.007,-1.155,-1.05,-2.007,-1.155,...,-0.748,5.178,-14.328,-1.378,5.328,-14.143,-0.302,0.0,0.0,0.0
2,A,0.0,0.0,0.0,-1.05,-2.007,-1.155,-1.05,-2.007,-1.155,...,-2.857,2.252,-6.560,-2.881,1.664,-6.013,-3.636,0.0,0.0,0.0
3,A,0.0,0.0,0.0,-1.05,-2.007,-1.155,-1.05,-2.007,-1.155,...,-2.790,2.160,-6.526,-2.832,1.544,-5.991,-3.573,0.0,0.0,0.0
4,A,0.0,0.0,0.0,-1.05,-2.007,-1.155,-1.05,-2.007,-1.155,...,-2.782,2.146,-6.552,-2.816,1.526,-6.031,-3.564,0.0,0.0,0.0

# Split Training Data and Test Data

In [18]:
# importing all the necessary packages to use the various classification algorithms
from sklearn.linear_model import LogisticRegression  # for Logistic Regression algorithm
from sklearn.model_selection import train_test_split #to split the dataset for training and testing
from sklearn.neighbors import KNeighborsClassifier  # for K nearest neighbours
from sklearn import svm  #for Support Vector Machine (SVM) Algorithm
from sklearn import metrics #for checking the model accuracy
from sklearn.tree import DecisionTreeClassifier #for using Decision Tree Algoithm
from sklearn.metrics import classification_report
from sklearn.cluster import KMeans
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.neural_network import MLPClassifier
# from sklearn.metrics import classification_report, confusion_matrix

In [19]:
train, test = train_test_split(df_aug, test_size = 0.3)# in this our main data is split into train and test
# the attribute test_size=0.3 splits the data into 70% and 30% ratio. train=70% and test=30%
print(train.shape)
print(test.shape)

(1749, 235)
(750, 235)

In [20]:
train_X = train[fin_info]# taking the training data features
train_y=train.Letter# output of our training data
test_X= test[fin_info] # taking test data features
test_y =test.Letter   #output value of test data

In [21]:
train_X = train_X.values
test_X = test_X.values

In [22]:
# #use scaler
# from sklearn import preprocessing
# mm_scaler = preprocessing.RobustScaler()
# mm_scaler = preprocessing.MinMaxScaler()
# train_X = mm_scaler.fit_transform(train_X)
# test_X = mm_scaler.transform(test_X)

In [23]:
train_X

array([[ 7.68212944,  7.68212944,  7.68212944, ...,  7.68212944,
         7.68212944,  7.68212944],
       [-2.93715223, -2.93715223, -2.93715223, ..., -2.93715223,
        -2.93715223, -2.93715223],
       [-2.20082218, -2.20082218, -2.20082218, ..., -2.20082218,
        -2.20082218, -2.20082218],
       ...,
       [-6.19322228, -6.19322228, -6.19322228, ..., -6.19322228,
        -6.19322228, -6.19322228],
       [ 1.93308548,  1.93308548,  1.93308548, ...,  1.93308548,
         1.93308548,  1.93308548],
       [-8.23331253, -8.23331253, -8.23331253, ..., -8.23331253,
        -8.23331253, -8.23331253]])

In [24]:
train_y.head()

2385        C
2347        C
1733        B
479     other
1980        C
Name: Letter, dtype: object

In [25]:
test_X

array([[ 2.68030419,  2.68030419,  2.68030419, ...,  2.68030419,
         2.68030419,  2.68030419],
       [ 1.53915219,  1.53915219,  1.53915219, ...,  1.53915219,
         1.53915219,  1.53915219],
       [-0.78394969, -0.78394969, -0.78394969, ..., -0.78394969,
        -0.78394969, -0.78394969],
       ...,
       [ 0.        ,  0.        ,  0.        , ...,  0.        ,
         0.        ,  0.        ],
       [-6.62306972, -6.62306972, -6.62306972, ..., -6.62306972,
        -6.62306972, -6.62306972],
       [-3.27911619, -3.27911619, -3.27911619, ..., -3.27911619,
        -3.27911619, -3.27911619]])

In [26]:
test_y.head(10)

1962        C
1755        B
1196        A
2193        C
206     other
487     other
2076        C
132         B
44      other
2297        C
Name: Letter, dtype: object

# Machine Learning Model

In [27]:
# Train the model, return the best model based on the test data
def train(train_X,train_y,test_X,test_y):
    lr = LogisticRegression(max_iter = 1000)
    lr.fit(train_X,train_y)
    lr_pre=lr.predict(test_X)
    lr_acc = metrics.accuracy_score(lr_pre,test_y)
    print('The accuracy of the Logistic Regression is',lr_acc)
    dt=DecisionTreeClassifier()
    dt.fit(train_X,train_y)
    dt_pre=dt.predict(test_X)
    dt_acc = metrics.accuracy_score(dt_pre,test_y)
    print('The accuracy of the Decision Tree is',dt_acc)
    rf = RandomForestClassifier(n_estimators=1000, criterion='entropy', random_state=None, bootstrap=True)
    rf.fit(train_X,train_y)
    rf_pre=rf.predict(test_X)
    rf_acc = metrics.accuracy_score(rf_pre,test_y)
    print('The accuracy of the Random Forest is',rf_acc)    
    knn=KNeighborsClassifier(n_neighbors=3) #this examines 3 neighbours for putting the new data into a class
    knn.fit(train_X,train_y)
    knn_pre=knn.predict(test_X)
    knn_acc = metrics.accuracy_score(knn_pre,test_y)
    print('The accuracy of the KNN is',knn_acc)    
    svm=SVC(probability=True)
    svm.fit(train_X, train_y)
    svm_pre=svm.predict(test_X)
    svm_acc = metrics.accuracy_score(svm_pre,test_y)
    print('The accuracy of the SVM is',svm_acc)
    mlp=MLPClassifier(hidden_layer_sizes=(128,64,32),random_state = 1)
    mlp.fit(train_X,train_y)
    mlp_pre=mlp.predict(test_X)
    mlp_acc = metrics.accuracy_score(mlp_pre,test_y)
    print('The accuracy of the MLP is',mlp_acc)
    dir = {lr:lr_acc,dt:dt_acc,rf:rf_acc,knn:knn_acc,svm:svm_acc,mlp:mlp_acc}
    best = 0
    model = None
    for i in dir.keys():
        if dir[i]>best:
            best = dir[i]
            model = i
    return model

In [28]:
# train the model
model = train(train_X,train_y,test_X,test_y)

D:\anaconda\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

The accuracy of the Logistic Regression is 0.9533333333333334
The accuracy of the Decision Tree is 0.8933333333333333
The accuracy of the Random Forest is 0.932
The accuracy of the KNN is 0.928
The accuracy of the SVM is 0.932
The accuracy of the MLP is 0.94

In [29]:
# since we don't have too much data,I choose to use all data for training
training_data = df_aug[fin_info]
training_data =training_data.values

training_label =df_aug.Letter
training_label=training_label.values
# specific mlp to train
def mlp(training_data,training_label):
    mlp=MLPClassifier(hidden_layer_sizes=(128,64,32),random_state = 1)
    mlp.fit(training_data,training_label)
    return mlp

model = mlp(training_data,training_label)

In [30]:
def pred(model, X):
    prediction=model.predict_proba(X.reshape(1, -1))
    cl = model.classes_
    pro = prediction[0]
    head=""
    internal = ""
    for i in range(len(cl)):
        if i == 0:
            head = "{}:{}".format(cl[i],pro[i])
        else:
            internal = internal + (" ;{}:{}".format(cl[i],pro[i]))
        
    return "Probabilities: {" +head+internal+"}."

In [31]:
# for i in test_X[0:10]:
#     print(pred(model,i))

In [32]:
X = test_X[8]
pred(model, X)

'Probabilities: {A:0.00029278840252354064 ;B:0.0038651100613864733 ;C:0.00296028145724568 ;other:0.9928818200788444}.'

In [33]:

# # Logistic Regression
# def LR(train_X,train_y,test_X,test_y,X = test_X[0]):
#     model = LogisticRegression(max_iter = 1000)
#     model.fit(train_X,train_y)
#     prediction=model.predict(test_X)

#     print('The accuracy of the Logistic Regression is',metrics.accuracy_score(prediction,test_y))

# #     print(sklearn.metrics.confusion_matrix(test_y,prediction))

# #     print(classification_report(test_y, prediction))

#     pro=model.predict_proba(X.reshape(1, -1))

#     return pro[0]

# # Decision Tree Classifier
# def DT(train_X,train_y,test_X,test_y,X = test_X[0]):
#     model=DecisionTreeClassifier()
#     model.fit(train_X,train_y)
#     prediction=model.predict(test_X)
#     print('The accuracy of the Decision Tree is',metrics.accuracy_score(prediction,test_y))
# #     print(sklearn.metrics.confusion_matrix(test_y,prediction))
# #     print(classification_report(test_y, prediction))
#     pro=model.predict_proba(X.reshape(1, -1))
#     return pro[0]

# # Random Forest Classifer
# def RF(train_X,train_y,test_X,test_y,X = test_X[0]):
#     model = RandomForestClassifier(n_estimators=1000, criterion='entropy', random_state=None, bootstrap=True)
#     model.fit(train_X,train_y)
#     prediction=model.predict(test_X)
#     print('The accuracy of the Random Forest is',metrics.accuracy_score(prediction,test_y))
# #     print(sklearn.metrics.confusion_matrix(test_y,prediction))
# #     print(classification_report(test_y, prediction))
#     pro=model.predict_proba(X.reshape(1, -1))
#     return pro[0]

# # K-Nearest Neighbor
# def KNN(train_X,train_y,test_X,test_y,X = test_X[0]):
#     model=KNeighborsClassifier(n_neighbors=3) #this examines 3 neighbours for putting the new data into a class
#     model.fit(train_X,train_y)
#     prediction=model.predict(test_X)
#     print('The accuracy of the KNN is',metrics.accuracy_score(prediction,test_y))
# #     print(sklearn.metrics.confusion_matrix(test_y,prediction))
# #     print(classification_report(test_y, prediction))

#     pro=model.predict_proba(X.reshape(1, -1))
#     return pro[0]

# # Support Vector Machine
# def SVM(train_X,train_y,test_X,test_y,X = test_X[0]):

#     model=SVC(probability=True)
#     model.fit(train_X, train_y)
#     prediction=model.predict(test_X)
#     print('The accuracy of the SVM is',metrics.accuracy_score(prediction,test_y))
# #     print(confusion_matrix(test_y,prediction))

# #     print(classification_report(test_y, prediction))

#     pro=model.predict_proba(X.reshape(1, -1))
#     return pro[0]

# # Multilayer Perceptron
# def MLP(train_X,train_y,test_X,test_y,X = test_X[0]):
#     model=MLPClassifier(hidden_layer_sizes=(128,64,32),random_state = 1)
#     model.fit(train_X,train_y)
#     prediction=model.predict(test_X)
#     print('The accuracy of the MLP is',metrics.accuracy_score(prediction,test_y))
# #     print(sklearn.metrics.confusion_matrix(test_y,prediction))
# #     print(classification_report(test_y, prediction))
#     pro=model.predict_proba(X.reshape(1, -1))
#     return pro[0]